@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), url(./fonts/Lobster/Lobster-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Dancing Script';
    src: local('Dancing Script'), url(./fonts/DancingScript-VariableFont_wght.ttf) format('truetype');
  }
